    {% extends "base.html" %}
    {% block main_nav %}
    <nav>
        <a herf="{{ url_for("home") }}">TOPICS</a>
        <span>|</span>
        <a href="">MEMBER</a>
        <span>|</span>
        <a href="">PROFILE</a>
    </nav>
    {% endblock %}
    {% block sub_nav %}
    <section>
        <nav>
            <a class="active-link">All Topics</a>
            <a href="{{ url_for("my_topics", member_id=1) }}">My Topics</a>
        </nav>
    </section>
    {% endblock %}
    {% block content %}
    <section class="topics">
        {% for post in posts %}
        <p>
            <cite>
                <a href="{{ url_for("topic_view", post_id=post.id) }}">{{post.title}}</a>
            </cite>
            <br>
            <span class="member">
                {{members.get_by_id(post.member_id).name}} posted on {{post.date.strftime("%a %d-%m-%Y %H:%M")}}
            </span>
        </p>
        {% endfor %}
    </section>
    {% endblock %}
