{% extends "topics/index.html" %}
{% block sub_nav %}
<section>
    <nav>
        <a href="{{ url_for("home") }}">All Topics</a>
        <a class="active-link">My Topics</a>
    </nav>
</section>
{% endblock %}
{% block content %}
<section class="topics">
    <fieldset>
        <a class="create" href="{{ url_for("topic_add", member_id=member.id) }}">Create a topic </a>
        {% if posts_no %}
        <legend>"{{member.name}}", you have {{posts_no}} topics</legend>
        {% with posts = member.posts[::-1] %}
        {% for post in posts %}
        <div class="atopic">
            <p>
            <cite>
                <a href="{{ url_for("topic_view", post_id=post.id) }}">{{post.title}}</a>
            </cite>
            <br>
            <span class="member">
                posted on {{post.date.strftime("%a %d-%m-%Y %H:%M")}}
            </span>
            </p>
            <div id="modifiers">
                <a href="{{ url_for("topic_edit", post_id=post.id) }}">Edit</a> |
                <a href="{{ url_for("topic_delete", post_id=post.id ) }}"> Delete</a>
            </div>
        </div>
        {% endfor %}
        {% endwith %}

        {% else %}
        <legend>{{ member.name }}, you have no published topics yet.</legend>
        {% endif %}
    </fieldset>
</section>
{% endblock %}
