            {% extends "topics/my_topics.html" %}
            {% block content %}
            <form class="topics" action="{{ url_for("topic_delete", post_id= post.id)}}" method="post">
                <fieldset>
                    <legend>WARNING: you are about to lose a topic</legend>
                    <br>
                    <article>
                        <cite>{{ post.title }}</cite>
                        <p>{{ post.body }}</p>
                    </article>
                    <input type="submit" name="submit" value="Delete">
                    <input type="submit" name="submit" value="Cancel">
                </fieldset>
            </form>
            {% endblock %}
