{% extends "topics/my_topics.html" %}
{% block sub_nav %}
{% endblock %}
{% block content %}
    <br>
    <br>
    <fieldset>
        <legend></legend>
        <a id="close" href="">X</a>
        <script type=text/javascript src="{{ url_for('static', filename='js/scr.js') }}">
        </script>
        <!--<script>-->
        <!--document.write('<a href="' + document.referrer + '">Close</a>');-->
        <!--</script>-->
        <article>
            <p>
                <cite>{{ post.title }}</cite>
                <br><br>
                {{ post.body }}
                <br><br>
                <span class="member">
                    {{member_name}} posted on {{post.date.strftime("%a %d-%m-%Y %H:%M")}}
                </span>
            </p>
        </article>
    </fieldset>
{% endblock %}
