body, body > nav{
  background: #e4d2d2;
  }

body > main > nav > a:visited, fieldset, .active-link, .topics{
  background: #e0e2ef;
  }

body{
  color: #000;
  margin:2%;
  height: 100%;
  }

nav{
    font-style: italic;
  }

span, body > nav{
  font-size: 135%;
  }

nav > a:active, .active-link{
  font-style: normal;
  }

body > nav > a{
  font-variant: small-caps;
}

main  nav  a{
  font-size: 115%;
  margin:0 auto;
  padding: 1%;
  }
  
header,footer, body > nav{
  text-align: center;
  }

header{
  background: #62383C;
  opacity: 0.7;
  color: #fff;
  border-style: double none;
  border-color: #fff;
  }

main{
  overflow: auto;
  padding-bottom: 10%;
}

footer{
  position: relative;
  margin-top: 10%;
  height: 10%;
  clear: both;
  border-top: solid;
  border-color: #e0e2ef;
}

.topics{
  padding: 1%;
  margin: 0 auto;
  }

.member{
  font-size:75%;
  }

p, .atopic{
  background: #e4d0d0;
  padding: 1%;
  }

form label{
  font-size: 110%;
}

.title, textarea{
  font-size: 110%;
  display: block;
  width: 95%;
  margin: 1% auto;
}

textarea{
  height: 250px;
}

input[type=submit]{
  text-align: center;
  margin-left: 2.5%;
  font-size: 120%;
  width: 7em;
  height: 2em;
}

.atopic{
  display: table;
  margin: 1%;
}

.atopic > p, #modifiers{
  display: table-cell;
}

.atopic > p{
  width: 100%;
  -webkit-columns: auto;
}

.create{
  margin-left: 90%;
  text-align: right;
}

legend{
  font-size: 120%;
}

#modifiers{
  font-size: 80%;
}

#close{
  font-style: normal;
  color: #000;
  margin-left: 99%;
  text-decoration: none;
}

